.admin-dashboard-container {
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
  font-family: Arial, sans-serif;
  gap: 10px;
  margin-left: 20%; 
  padding: 20px;
}
@media (max-width: 768px) {
  .admin-dashboard-container{
    margin-left: 70px;
  }
}